@model Category

<div class="card shadow border-10 mt-4">
    <div class="card-header bg-black bg-gradient mt-4 py-3">
        <div class="row">
            <div class="Col-14 text-center">
                <h2 class="text-White py\"> Create New Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3 ">
              
                @*<div asp-validation-summary="All"></div> this is a custom validation*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="sDescription" class="form-control border-0 shadow" ></>
                    <label asp-for="sDescription" Class="ms-2"> </label>
                    <span asp-validation-for="sDescription" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="sDisplayOrder" class="form-control border-0 shadow"/>
                    <label asp-for="sDisplayOrder" Class="ms-2"> </label>
                    <span asp-validation-for="sDisplayOrder" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class=" btn btn-outline-secondary border form-control"> Create </button>
                    </div>
                    <div class="col-6  row col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary border form-control">
                            Return to list
                        </a>

                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


                             @*This is the user level validation *@
    @section scripts
    {
        @{
            <partial name="_ValidationScriptsPartial"/>
        }
    }