
@model List<Products>
@*Template for card view*@
<div class="card shadow border-10 mt-4">
    <div class="card-header bg-black bg-gradient mt-4 py-3">
        <div class="row">
            <div class="Col-12 text-center">
                <h2 class="text-White py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            
            <div class="text-end ">
                @*<p align="right">  </p>*@
                <a asp-controller="Product" asp-action="CreateProduct" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> create New Product
                </a>
            </div>

        </div>
        @*<h1>Product List</h1>*@
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Category
                    </th>
                          
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model) // no ordering required
                                                                         //   @foreach we are using c# code beloe the purpose is to fetch all the data in the table, if its not used we used t fetch only one data
                {
                    <tr>
                        <td>
                            @obj.sProductName
                        </td>

                        <td>
                            @obj.Price
                        </td>
                        
                        <td>
                         
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Product" asp-action="EditProduct" asp-route-ProductId="@obj.Product_ID" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> EDIT
                                </a>
                                <a asp-controller="Product" asp-action="DeleteProduct" asp-route-ProductId="@obj.Product_ID" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash3-fill"></i> Delete
                                </a>

                            </div>
                        </td>

                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>